.news-item when (@widget-news-list){

    .news-item-image{
        img{ }
    }

    .news-item-title{ }

    .newslog-admin-actions{
        text-align : right;
        a{ }
    }

    .news-item-date{
        color : lighten(@text-color, 15%);

        &::before{
            top       : 2px;
            font-size : 16px;
            color     : @primary-bg;
        }
    }

    .news-item-description{ }

    .news-item-tags{

        a{
            .link-color(@gray);

            & + a{
                margin-left : 0.5em;
            }

            &::before{
                color        : @gray;
                margin-right : 0.5em;
            }
        }
    }

    .newslog-tag-filter{
        &::before{
            font-family: @font-family-icons;
            content : "\e023";
        }
    }
}